[submodule "Development/Mac-iOS/Xcode/Plugins/ColorSense-for-Xcode"]
	path = Development/Mac-iOS/Xcode/Plugins/ColorSense-for-Xcode
	url = git://github.com/omz/ColorSense-for-Xcode.git
[submodule "Development/Mac-iOS/Xcode/Plugins/KSImageNamed-Xcode"]
	path = Development/Mac-iOS/Xcode/Plugins/KSImageNamed-Xcode
	url = git://github.com/ksuther/KSImageNamed-Xcode.git
[submodule "Development/Mac-iOS/Xcode/Plugins/Xcode-4-Fixins"]
	path = Development/Mac-iOS/Xcode/Plugins/Xcode-4-Fixins
	url = git://github.com/davekeck/Xcode-4-Fixins.git
[submodule "Development/Mac-iOS/Libs/iOS/TDBadgedCell"]
	path = Development/Mac-iOS/Libs/iOS/TDBadgedCell
	url = git://github.com/tmdvs/TDBadgedCell.git
[submodule "Development/Mac-iOS/Libs/iOS/Reader"]
	path = Development/Mac-iOS/Libs/iOS/Reader
	url = https://github.com/vfr/Reader
[submodule "Development/Mac-iOS/Xcode/Plugins/VVDocumenter"]
	path = Development/Mac-iOS/Xcode/Plugins/VVDocumenter
	url = https://github.com/onevcat/VVDocumenter-Xcode.git
